@model IEnumerable<Category>

<select name="CategoryId" id="CategoryId" data-val="true" data-val-required="The Category field is required.">
    <option>Select Category</option>
    @foreach (var category in Model)
    {
        <option value="@category.Id">@category.Name</option>
    }
</select>
